<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Liel PC/IdeaProjects/spicejet2/src/test/java/spicejet">


        <classes>
            <class name="spicejet.HomePageOneWay">
                <methods>
                    <include name="HomePageOneWay"/>
                </methods>
            </class>
            <class name="spicejet.HomePageRound">
                <methods>
                    <include name="HomePageRound"/>
                </methods>
            </class>
            <class name="spicejet.SmePage">
                <methods>
                    <include name="SemPage"/>
                </methods>
            </class>
        </classes>
    </test>

    <listeners>
        <listener class-name="resources.TestListener"/>
    </listeners>

</suite>